.footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding: 10px;
    display: flex;
    text-align: center;
}

.footer-actions {
    width: 80%;
    text-align: right;
}

.footer-actions .svg {
    transition: all 0.4s;
    cursor:pointer;
    color:#4c4c81;
    margin-left: 10px;
}

.footer-actions .svg:hover {
    width: 25px;
    height: 25px;
}