/*Button on create a post*/
.btn-fb-getgame-post {
    transition: 0.6s all;
    background: none;
    padding-top: 10px;
}

.btn-fb-getgame-post img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.btn-fb-getgame-post span {
    font-size: 1.0rem;
    font-weight: 500;
    color: #67696d;
}

.btn-fb-getgame-post:hover {
    background: #ececec!important;
}



/* Button on post comment like section*/
.btn-fb-getgame-comment{
    padding-top: 10px;
    transition: all 0.6s ease 0s;
    background: none;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    display: flex;
}

.btn-fb-getgame-comment span {
    font-size: 1.0rem;
    font-weight: 500;
    color: #67696d;
}

.btn-fb-getgame-comment img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.btn-fb-getgame-comment:hover{
    background: #ececec;
}


.btn-fb-getgame-reply{
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    color: #65676b;
    transition: 0.5s all;
}

.btn-fb-getgame-reply:hover{
    text-decoration: underline;
    color: #2d72fc;

}