.btn-yt-getgame{
    background: none;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-weight: 600;
    color: #c21a1a;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.7s all;
}

.btn-yt-getgame:hover{
    color: #eda000;
    background: #ededed;
}

.btn-yt-getgame:focus{
    color: #fff645;
    background: #a9a9a9;
}